/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .btn-primary {
    font-size: 15px;
  }
  h1 {
    font-size: 50px;
  }
  #header {
    padding: 20px;
  }

  #nav {
    flex-direction: column;
  }
  .nav-item {
    flex-direction: column;
    justify-content: center;
  }
  .teams-container {
    flex-direction: column-reverse;
  }
  .teams-content {
    padding: 30px 10px;
    text-align: center;
  }
  .teams-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .teams-img-container img {
    width: 100%;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .btn-primary {
    font-size: 15px;
  }
  h1 {
    font-size: 50px;
  }
  #header {
    padding: 20px;
  }

  #nav {
    flex-direction: column;
  }
  .teams-container {
    flex-direction: column-reverse;
  }
  .teams-content {
    padding: 30px 50px;
    text-align: center;
  }
  .teams-img-container img {
    width: 100%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #header {
    padding: 20px;
  }
  .teams-container {
    flex-direction: column-reverse;
  }
  .teams-content {
    text-align: center;
    padding: 30px 80px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #header {
    padding: 20px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* No media query since the extra-large breakpoint has no upper bound on its width */
