/* Work Sanse Font From Google Font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  color: #131313;
  font-weight: 700;
}
h2 {
  font-size: 2.5rem;
  color: #131313;
  font-weight: 700;
}
h3 {
  font-size: 1.8rem;
  color: #131313;
  font-weight: 600;
}
p {
  font-size: 1rem;
  color: #727272;
  line-height: 20px;
  margin: 20px 0;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
.orange {
  color: #ff900e;
}
.btn-primary {
  background: #ff900e;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 15px 25px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.btn-primary:hover {
  background: #d35400;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

#header {
  padding: 50px 240px;
  background: rgba(255, 144, 14, 0.1);
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  display: flex;
}

.nav-item li {
  margin-right: 20px;
}

.nav-item li:last-child {
  margin-right: 0;
}

.nav-item li a {
  font-size: 20px;
  color: #424242;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.nav-item li a:hover {
  color: #ff900e;
}

/* Banner Styles */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 50px auto;
}
.banner-img {
  width: 100%;
}

/* Main Styles */

main {
  max-width: 1400px;
  margin: 0 auto;
}

/* Teams styles */
.teams-container {
  display: flex;
  align-items: center;
  padding: 85px 0;
}

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.teams-content {
  padding: 0 70px;
}
.quick {
  font-weight: 500;
  color: #727272;
}
